.app__products-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app__products-search-wrapper {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.app__products-search-head {
  height: 4rem;
  padding: 0.8rem 2rem 0 1.5rem;
  border-bottom: 1px solid var(--medium-gray);
}

.app__products-search {
  padding: 2rem 2rem 2rem 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.app__products-search-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;

  li {
    display: flex;
    align-items: center;
    color: var(--gray-color);

    input[type=checkbox] {
      background: transparent;
      margin-right: 0.8rem;
      width: 1rem;
      height: 1rem;
      outline: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 2px;
      cursor: pointer;
    }
  }
}

.app__product-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}