.products__container {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.products__search__wrapper {
  margin-bottom: 0.5rem;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.products__search__head {
  padding: 0.8rem 2rem 2rem 1.5rem;
  border-bottom: 1px solid var(--medium-gray);
}

.products__search {
  padding: 2rem 2rem 2rem 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.products__search__categories {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;

  li {
    display: flex;
    align-items: center;
    color: var(--gray-color);

    input[type='checkbox'] {
      margin-right: 0.8rem;
      width: 1.2rem;
      height: 1.2rem;
      padding: 10rem;
      cursor: pointer;
      opacity: 0.15;

      &:checked {
        opacity: unset;
      }
    }
  }
}
