.app__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2rem;

  h2 {
    font-weight: 500;
  }

  p {
    font-weight: 400;
    color: var(--gray-color);
    margin-top: 5px;
  }
}