.app__navbar {
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.2rem;

  @media screen and (max-width: 900px) {
    padding: 0 1.5rem 0 1.5rem;
  }
}

.app__navbar-head {
  h2 {
    font-weight: 500;
  }

  p {
    font-weight: 400;
    color: var(--gray-color);
    margin-top: 1rem
  }
}
