
.app {
  width: 60%;
  margin: 0 auto 0 auto;
  padding: 4rem 0 4rem 0;
  font-family: var(--font-base);

  @media screen and (max-width: 1200px) {
    width: 60%;
  }
  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.app__tabs {
  margin-bottom: 1.6rem;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-bg {
  background-color: var(--white-color);
}

.gray-bg {
  background-color: var(--lightGray-color);
}

.head-text {
  font-weight: 500;
  line-height: 1.2rem;
}

.tags-cmp {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tag {
  background-color: rgba(18, 184, 255, 0.15);
  border-radius: 4px;
  padding: 0 0.5rem 0 0.5rem;
  font-weight: 500;
  min-height: 1.5rem;
  color: var(--secondary-color);
}

.btn {
  border: none;
  border-radius: 2px;
  outline: none;
  line-height: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.btn_theme_secondary {
  background: var(--secondary-color);
  color: var(--white-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
}

.btn_size_lg {
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.p-text {
  color: var(--black-color);
  line-height: 1.5rem;
  font-size: 14px;
}

.border-active {
  border: 2px solid var(--secondary-color);
}